@charset "utf-8";	
		* {margin:0; padding:0;}
		ul,ol {list-style:none;}
		a {text-decoration:none;}
		a.on {color:#F2E5A2; font-weight: 600;}
		header {background:#D96666; padding:30px 0;}
		h1 {color:#fff; text-align:center;}
		nav {background:#F89883;
			height:30px;
			padding:10px 0;
		}
		nav ul{
			border:1px solid red;
			margin:0 auto;
			width:1200px;
			height:30px;
		}
		nav ul li a {color:#fff; font-size:20px;}
		nav ul li {width:200px; text-align:center; float:left; padding:5px 0;}
		
		section {padding: 30px 0;}
		section h3 {text-align:center; margin-bottom:20px; color:#333}
		section p{padding:15px 0;padding-left:10px;}		

		
		footer {background:#81AC8B; color:#fff; text-align:center; padding:30px 0;}
		
		
		/* sub1.html*/
		table,th,td {border:1px solid #000;}
		td{padding:5px 0;}
		.col2 input{padding:0px 15px; height:30px; margin-right:10px;}
		table {width:1000px; margin:0 auto;}
		table th{color:#425957}
		table td{text-align:center;}
		table td.text_left{text-align:left; padding-left:20px;}
		
		.col2 {text-align:center;padding-top:10px;}		
		tr th{border-bottom:1px solid gray;}
		
		.td_right{text-align: right; padding-right:10px;}
		.vertical_center{vertical-align: middle;}
		.input80{width:80px;}
		
		table.sub1{border : none;}
		table.sub1 td{text-align: left; padding-left:5px;}
		table.sub1 td input{height: 30px; padding:3px; font-size:16px; box-sizing: border-box;}
		table.sub1 select{width: 70px; height:30px;}
		table.sub3 {width:600px;}
		table.sub3 select{width: 120px;}
		table.sub1 .btn{text-align: center;}
		table.sub1 .btn input{box-sizing: border-box;}