@charset "UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
header{
	background-color: #004080;
}
header h1{
	padding: 40px 0;
	text-align: center;
	color: white;
}
nav{
	background-color:#0093d9; 
	height: 60px;
}
nav ul{
	list-style: none;
	width: 1250px;
	margin: 0 auto;
}
nav ul li{
	line-height: 60px;
	width: 250px;
	float: left;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
a{
	text-decoration: none;
	color:inherit;
}
a.on{
	color:white;
}
section{
	padding: 50px 20px;
}
section h2{
	text-align: center;
	margin-bottom: 30px;
}
section p{
	padding: 10px 0;
}
section table{
	width: 65%;
	margin: 0 auto;
	text-align: center;
}
table th{
	padding: 3px;
	background-color: #f4f4f4;
}
table td{
	padding: 5px;
}
section table.sub2,
section table.sub4{
	width: 550px;
}
section table.sub2 th{
	padding: 0 10px;
}
table input[type="text"],
table select{
	height: 25px;
	padding: 3px;
}
table input[type="button"]{
	padding: 3px 7px;
}
.td_left{
	text-align: left;
	padding-left: 5px;
}
.td_right{
	text-align: right;
	padding-right: 5px;
}
footer{
	background-color: #0080c0; 
}
footer p{
	padding: 25px 0;
	text-align: center;
	color:white;
}
